/*
  SimpleSlider v0.7 by JaL Productions
  http://jalproductions.co.uk/
  https://github.com/jamesl1001/simpleslider
*/

#simpleslider {
    width: 100%;
    height: 0;
    margin-bottom: 25px;
    position: relative;
}

#ss__wrapper {
    width: 100%;
    height: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#ss__wrapper img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

#ss__wrapper img.current {
    filter: alpha(opacity=100);
    opacity: 1;
}

#ss__controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#ss__prev,
#ss__next {
    width: 33%;
    height: 100%;
    background: url(img/transparent.gif);
    background: rgba(0,0,0,0);
    position: relative;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
}

#ss__prev {
    float: left;
}

#ss__next {
    float: right;
}

#ss__prevChev,
#ss__nextChev {
    width: 20px;
    height: 30px;
    background: #666 center no-repeat;
    background: rgba(0,0,0,.4) center no-repeat;
    position: absolute;
    top: 45%;
    -webkit-transition: left .3s, right .3s;
    transition: left .3s, right .3s;
}

#ss__prevChev {
    background-image: url(img/prev.png);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: -20px;
}

#ss__nextChev {
    background-image: url(img/next.png);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: -20px;
}

#ss__prev:hover #ss__prevChev {
    left: 0;
}

#ss__next:hover #ss__nextChev {
    right: 0;
}

#ss__dots {
    width: 100%;
    height: 5px;
    margin: 0 auto;
    padding: 10px 0;
    clear: both;
}

.ss__dot {
    width: 5px;
    height: 5px;
    background: #CCC;
    margin-right: 10px;
    float: left;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.ss__dot:hover {
    background: #999;
}

.ss__dot.current {
    background: #999;
}

.ss__dot.current:hover {
    background: #666;
}

.ss__dot:last-child {
    margin-right: 0;
}